In [7]:
import pandas as pd

stats = pd.read_csv("stats.csv")
stats.head()

,member_id,first_name,last_name,height,body_weight,bench_press,deadlift,back_squat,military_press,last_update
0,0,Ian,McNair,71,209,205,265,225,130,8/9/19
1,1,Wayne,Chim,70,152,185,300,255,115,8/9/19
2,2,Vincent,Lee,69,158,205,365,305,120,8/9/19
3,3,Wayne,Chim,70,150,190,325,275,120,9/30/19

In [8]:
stats.dtypes

member_id          int64
first_name        object
last_name         object
height             int64
body_weight        int64
bench_press        int64
deadlift           int64
back_squat         int64
military_press     int64
last_update       object
dtype: object

In [9]:
#Bench Press Leaderboard
bench = stats.copy()
bench = bench[["member_id",
               "first_name",
               "last_name",
               "body_weight",
               "bench_press"]]
bench["bp:bw"] = round((bench.iloc[:,4]/bench.iloc[:,3]),2)
bench = bench.sort_values("bp:bw", ascending=False)
bench.reset_index(drop=True, inplace=True)
bench.head()

   member_id first_name last_name  body_weight  bench_press  bp:bw
0          2    Vincent       Lee          158          205   1.30
1          3      Wayne      Chim          150          190   1.27
2          1      Wayne      Chim          152          185   1.22
3          0        Ian    McNair          209          205   0.98

In [10]:
#Deadlift Leaderboard
lift = stats.copy()
lift = lift[["member_id",
             "first_name",
             "last_name",
             "body_weight",
             "deadlift"]]
lift["dl:bw"] = round((lift.iloc[:,4]/lift.iloc[:,3]),2)
lift = lift.sort_values("dl:bw", ascending=False)
lift.reset_index(drop=True, inplace=True)
lift.head()

   member_id first_name last_name  body_weight  deadlift  dl:bw
0          2    Vincent       Lee          158       365   2.31
1          3      Wayne      Chim          150       325   2.17
2          1      Wayne      Chim          152       300   1.97
3          0        Ian    McNair          209       265   1.27

In [11]:
#Back Squat Leaderboard
squat = stats.copy()
squat = squat[["member_id",
               "first_name",
               "last_name",
               "body_weight",
               "back_squat"]]
squat["bs:bw"] = round((squat.iloc[:,4]/squat.iloc[:,3]),2)
squat = squat.sort_values("bs:bw", ascending=False)
squat.reset_index(drop=True, inplace=True)
squat.head()

   member_id first_name last_name  body_weight  back_squat  bs:bw
0          2    Vincent       Lee          158         305   1.93
1          3      Wayne      Chim          150         275   1.83
2          1      Wayne      Chim          152         255   1.68
3          0        Ian    McNair          209         225   1.08

In [12]:
#Military Press Leaderboard
military = stats.copy()
military = military[["member_id",
                  "first_name",
                  "last_name",
                  "body_weight",
                  "military_press"]]
military["mp:bw"] = round((military.iloc[:,4]/military.iloc[:,3]),2)
military = military.sort_values("mp:bw", ascending=False)
military.reset_index(drop=True, inplace=True)
military.head()

   member_id first_name last_name  body_weight  military_press  mp:bw
0          3      Wayne      Chim          150             120   0.80
1          1      Wayne      Chim          152             115   0.76
2          2    Vincent       Lee          158             120   0.76
3          0        Ian    McNair          209             130   0.62

In [3]:
def calculate(member_id, exercise, perc):
    orm = stats.iloc[member_id][exercise]
    adjusted_orm = 0.9*orm
    
    temp_total_weight = perc*adjusted_orm
    
    side_weights = (temp_total_weight - 45)/2
    
    if side_weights % 5.0 > side_weights % 10.0:
        side_weights = side_weights - side_weights % 10.0
    else:
        side_weights = side_weights - side_weights % 5.0
    side_weights = round(side_weights, 0)
    
    act_total_weight = side_weights*2 + 45
    
    this_set = f"Total Weight: {act_total_weight} " \
               f"Weight per Side: {side_weights}"
    print(this_set)
    return None

In [24]:
exercises = ["bench_press", "deadlift", "back_squat", "military_press"]

def routine(member_id, week, exercise):
    print(stats.loc[stats['member_id'] == 3, 'first_name'])
    if week%4 == 0:
        print("Reps: 5, 5, 5")
        for exercise in exercises:
            print(exercise)
            calculate(member_id, exercise, .4)
            calculate(member_id, exercise, .5)
            calculate(member_id, exercise, .6)
    elif week%3 == 0:
        print("Reps: 5, 3, 1+")
        for exercise in exercises:
            print(exercise)
            calculate(member_id, exercise, .75)
            calculate(member_id, exercise, .85)
            calculate(member_id, exercise, .96)
    elif week%2 == 0:
        print("Reps: 3, 3, 3+")
        for exercise in exercises:
            print(exercise)
            calculate(member_id, exercise, .7)
            calculate(member_id, exercise, .8)
            calculate(member_id, exercise, .9)
    else:
        print("Reps: 5, 5, 5+")
        for exercise in exercises:
            print(exercise)
            calculate(member_id, exercise, .65)
            calculate(member_id, exercise, .75)
            calculate(member_id, exercise, .86)

In [25]:
for num in range(4):
    routine(3, num, exercises)

3    Wayne
Name: first_name, dtype: object
Reps: 5, 5, 5
bench_press
Total Weight: 65.0 Weight per Side: 10.0
Total Weight: 85.0 Weight per Side: 20.0
Total Weight: 95.0 Weight per Side: 25.0
deadlift
Total Weight: 115.0 Weight per Side: 35.0
Total Weight: 145.0 Weight per Side: 50.0
Total Weight: 175.0 Weight per Side: 65.0
back_squat
Total Weight: 95.0 Weight per Side: 25.0
Total Weight: 115.0 Weight per Side: 35.0
Total Weight: 145.0 Weight per Side: 50.0
military_press
Total Weight: 35.0 Weight per Side: -5.0
Total Weight: 45.0 Weight per Side: 0.0
Total Weight: 55.0 Weight per Side: 5.0
3    Wayne
Name: first_name, dtype: object
Reps: 5, 5, 5+
bench_press
Total Weight: 105.0 Weight per Side: 30.0
Total Weight: 125.0 Weight per Side: 40.0
Total Weight: 145.0 Weight per Side: 50.0
deadlift
Total Weight: 185.0 Weight per Side: 70.0
Total Weight: 215.0 Weight per Side: 85.0
Total Weight: 245.0 Weight per Side: 100.0
back_squat
Total Weight: 155.0 Weight per Side: 55.0
Total Weight: 185.0 Weight per Side: 70.0
Total Weight: 205.0 Weight per Side: 80.0
military_press
Total Weight: 65.0 Weight per Side: 10.0
Total Weight: 75.0 Weight per Side: 15.0
Total Weight: 85.0 Weight per Side: 20.0
3    Wayne
Name: first_name, dtype: object
Reps: 3, 3, 3+
bench_press
Total Weight: 115.0 Weight per Side: 35.0
Total Weight: 135.0 Weight per Side: 45.0
Total Weight: 145.0 Weight per Side: 50.0
deadlift
Total Weight: 195.0 Weight per Side: 75.0
Total Weight: 225.0 Weight per Side: 90.0
Total Weight: 255.0 Weight per Side: 105.0
back_squat
Total Weight: 165.0 Weight per Side: 60.0
Total Weight: 195.0 Weight per Side: 75.0
Total Weight: 215.0 Weight per Side: 85.0
military_press
Total Weight: 75.0 Weight per Side: 15.0
Total Weight: 85.0 Weight per Side: 20.0
Total Weight: 95.0 Weight per Side: 25.0
3    Wayne
Name: first_name, dtype: object
Reps: 5, 3, 1+
bench_press
Total Weight: 125.0 Weight per Side: 40.0
Total Weight: 145.0 Weight per Side: 50.0
Total Weight: 155.0 Weight per Side: 55.0
deadlift
Total Weight: 215.0 Weight per Side: 85.0
Total Weight: 245.0 Weight per Side: 100.0
Total Weight: 275.0 Weight per Side: 115.0
back_squat
Total Weight: 185.0 Weight per Side: 70.0
Total Weight: 205.0 Weight per Side: 80.0
Total Weight: 235.0 Weight per Side: 95.0
military_press
Total Weight: 75.0 Weight per Side: 15.0
Total Weight: 85.0 Weight per Side: 20.0
Total Weight: 95.0 Weight per Side: 25.0

In [26]:
stats.to_csv('stats.csv', index=False)
bench.to_csv('bench_ranking.csv', index=False)
lift.to_csv('lift_ranking.csv', index=False)
squat.to_csv('squat_ranking.csv', index=False)
military.to_csv('military_ranking.csv', index=False)